<div class="col-md-12">
  <span class="d-flex justify-content-center font">Angular Online Test</span>
<div class="d-flex justify-content-center">
      <p class="summary">Take this awesome quiz that will help improve your understanding of Angular. See if you can beat the
        clock! The timed questionnaire with automatic scoring provides you with a final score along with a summary of your
        answers. Good luck and have fun with this quiz.</p>
   </div>
<div class="d-flex justify-content-center">
      <button id="StartQuizButton" mat-raised-button type="button" disableRipple="false" (click)="startQuiz()">Start the Quiz!</button>
   </div>
   
  </div>